*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* second box */
.add_icon{
    display: flex;
    align-items: center;
}
.first_address{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.second_address{
    font-size: 1rem;
    margin-left: 3px;
}

/* third box */
.nav_searchbar{
    display: flex;
    height: 40px;
    width: 620px;
    background-color: pink;
    border-radius: 4px;
    justify-content: space-evenly;
}
.select_box{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
}
.input_box{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_bar{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav_searchbar:hover{
    border: 2px solid orange;
    border-radius: 4px;
}

/* box 4 */

span{
    font-size: 0.7rem;
}
.nav_second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 6 */

.nav_cart i {
    font-size: 30px;
}
.nav_cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel Start */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
.panel_options p{
    display: inline-block;
    margin-left: 15px;
}
.panel_options{
    width: 70%;
    font-size: 0.85rem;
}
.panel_deals{
    font-size: 0.90rem;
    font-weight: 700;
}

/* Hero Section */

.hero_section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero_message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero_message a {
    color: #007185;
}

/* shop section */
.shop_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6; 
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box_image{
    height: 320px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box_content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box_content p{
    color: #007185;
}

/* footer */
.foot_panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 700;
}


.foot_panel2{
    background-color: #222f3d;
    color: white;
    display: flex;
    height: 300px;
    justify-content: space-evenly;
}
.foot_panel2 ul a{
    display: block;
    font-size: 0.85rem;
    color: #dddddd;
    margin-top: 10px;
}
.foot_panel2 ul p{
    font-size: 1rem;
    font-weight: 400; 
    margin-top: 20px;
}

.foot_panel3{
    background-color: #222f3d;
    margin-top: 0.5px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot_logo{
    width:100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.foot_panel4{
    height: 70px;
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 20px;
    padding-bottom: 5px;
}